<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>Consulta</title>
    
</head>
<body>
    <div class="container mt-3" style="border: 1px solid #ccc; padding: 50px; margin: 100px;">
        <table>
            <tr>
                <p style="color:blue;"> <a href="{{url_for('inicio_home')}}">Menú principal</a> </p>        
            </tr>
        </table>

        <h1 class="mb-3">Lista de Datos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for p in datos %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.descripcion }}</td>
                    <td>${{ p.precio }}</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>


   </div>  
</body>
</html>
