
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    
</head>

<body>
    <div class="d-flex justify-content-center" style="border: 1px solid #ccc; padding: 50px; margin: 100px;">
    <h1>Menú</h1>
    <table>
        <tr>
            <p style="color:blue;"> <a href="{{url_for('consulta_productos')}}">Consultar productos</a> </p>        
        </tr>
        <tr>
            <p style="color:blue;"> <a href="{{url_for('alta_producto')}}">Alta productos</a> </p>        
        </tr>
        <tr>
            <p style="color:blue;"> <a href="{{url_for('logout')}}">Cerrar sesión</a> </p>        
        </tr>

    </table>
</div>

</body>
</html>
