<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de Producto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .empty-row {
          height: 30px;  /* Altura deseada */
        }
      </style>
      
</head>
<body>


    <div class="d-flex justify-content-center" style="border: 1px solid #ccc; padding: 50px; margin: 100px;">
        <table>
            <tr>
                <p style="color:blue;"> <a href="{{url_for('inicio_home')}}">Menú principal</a> </p>        
            </tr>
        </table>
    
    <h1>Alta de Producto</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    
        <table  border="1">
        <tr>            
        <form class="col-10 col-md-6" action="/alta_producto" method="post">
            <label for="descripcion">Descripción:</label><br>
            <input type="text" id="descripcion" name="descripcion" required><br><br>

            <label for="precio">Precio:</label><br>
            <input type="text" id="precio" name="precio" step="0.01" min="0" required><br><br>

            <input type="submit" value="Agregar Producto">
        </form>
        </tr>            

        </table>

    </div>    
</body>




</html>